.reel-section {
  padding-top: 8em;
  padding-bottom: 7em;
  overflow: scroll;
  height: 20px;
  width: 100%;
}
.reel-section p {
  font-size: 20px;
}

@media (max-width: 320px) {
  .reel-section {
    padding-top: 7em;
    padding-bottom: 6em;
  }
  .reel-section p {
    font-size: 16px;
  }
}
